/* Header */
.app-header {
  background-color: #050B24;
  color: #20afec;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  animation: fadeInDown 1s ease-in-out; /* Header fade-in animation */
  font-size: 1.2rem;

}

.logo {
  height: 60px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: #3A9689;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 0;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.navigation a:hover,
.navigation a.active {
  color: #ffffff;
  border-bottom-color: #20afec;
}

.login-link {
  display: flex;
  align-items: center;
}

.login-link i {
  margin-right: 5px;
}

/* Animations */
@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navigation {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navigation a {
    margin: 5px 0;
    text-align: center;
    flex-grow: 1;
  }

  .navigation .login-link {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 50px;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
