body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;  
  padding: 2rem;
  background-color: #f4f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.percentages_container{
  display: flex;
  justify-content: space-between;
  flex-direction: row
  
}
.image-wrapper {
  display: flex;
  justify-content: space-between;
}

.result-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.result-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.predicted-class-container {
  display: flex;
  align-items: center; /* Vertically align items if necessary */
  gap: 10px; /* Adjust the gap between the two elements as needed */
  margin-bottom: 15px;
  /* font-size: 1.2em; */
  color: #333;
  margin-top: 20px;
  padding: 1rem;
  /* background-color: #f9fafb; */
  border-radius: 10px;
}
.predicted-class{
  text-transform: uppercase;

}

.preview {
  max-width: 100%;
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 1rem;
}

.error {
  color: #FF4136;
  font-size: 1.1em;
  margin-top: 5px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
  height: auto;
}

.title {
  color: #050B24;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.instructions {
  margin-bottom: 2rem;
  text-align: left;
  
}

.upload-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 10px;
}
.instructions, .upload-section, .progress-bar {
  font-size: 1.5rem; /* Adjust the font size as needed */
}

label {
  display: block;
  margin-bottom: .5rem;
  color: #050B24;
  font-weight: 600;
}

input[type="file"], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.btn-clear, .btn-analyze {
  display: block;
  width: auto;
  padding: 12px 25px;
  font-size: 1.5rem;
  margin: 1rem auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: white;
}

.btn-clear {
  background-color: #f44336;
}

.btn-analyze {
  background-color: #20afec;
}

.btn-clear:hover, .btn-clear:focus, .btn-analyze:hover, .btn-analyze:focus {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(55, 255, 149, 0.2);
}

.btn-clear:hover, .btn-clear:focus {
  background-color: #d32f2f;
}

.btn-analyze:hover, .btn-analyze:focus {
  background-color: #3086d6;
}

.circular-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.circular-chart {
  display: block;
  margin: 0 auto;
}

.circle {
  fill: none;
  stroke: #4caf50;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.percentage-value {
  font-size: 1.2rem;
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar-fill {
  height: 10px;
  background-color: #20afec;
  width: 0;
  transition: width 0.5s;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
  }

  .title, .upload-section {
    text-align: left;
  }

  .btn-clear, .btn-analyze {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .btn-clear, .btn-analyze {
    padding: 10px 20px;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
