.container {
  max-width: 960px; /* Increase the maximum width */
  margin: 2rem auto; /* Add more top and bottom margin */
  padding: 2rem; /* Increase padding for more space inside */
  background-color: #f4f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.results {
  margin-top: 20px;
  font-size: 1.2em;
}

.masks-container {
  margin-top: 20px;
}

.masks-container h4 {
  margin-bottom: 10px;
}

.mask {
  margin-bottom: 10px;
}

.mask img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.comments-section {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* More fluid on smaller screens */
    margin: 1rem;
    padding: 1rem;
  }

  .results, .comments-section {
    text-align: left; /* Align elements to the left on smaller screens */
  }
}

@media (max-width: 480px) {
  .results {
    font-size: 1em; /* Adjust font size for very small screens */
  }

  textarea {
    padding: 10px 10px; /* Adjust textarea padding for smaller screens */
  }
}
