<app-header></app-header>

<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
    <h1>Revolutionize Embryo Evaluation with GenAI</h1>
    <p>Upload an image and let the precision of artificial intelligence rate the quality.</p>
    <button (click)="onAnalyzeClick()" class="btn btn-primary">Analyze Embryo</button>
  </div>
</section>

<!-- Features Section -->
<section class="features-section">
  <div class="feature">
    <img src="./../../assets/images/analysis.png" alt="Quality Analysis" class="icon">
    <h3>Quality Analysis</h3>
    <p>Unveil the potential of each embryo with uncompromising quality analysis, supported by the power of GenAI.</p>
  </div>
  <div class="feature">
    <img src="./../../assets/images/agreement.png" alt="Accord" class="icon">
    <h3>Precise Matching</h3>
    <p>With GenAI, benefit from precise matching that associates each embryo image with its qualitative score, enabling informed decisions for optimized success.</p>
  </div>
  <div class="feature">
    <img src="./../../assets/images/ideas.png" alt="Ideas" class="icon">
    <h3>Personalized Advice</h3>
    <p>More than just classification - GenAI provides personalized advice, tailored to each case, to guide professionals towards the best possible outcomes.</p>
  </div>
</section>

<!-- Contact Section -->
<section class="contact-section">
  <div class="contact-content">
    <h2>Contact Us</h2>
    <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm"> -->
      <form #contactForm="ngForm">
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" ngModel required></textarea>
      </div>
      <!-- <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Send</button> -->
      <button type="submit" class="btn btn-primary" >Send</button>
    </form>
  </div>
</section>


<!-- Footer -->
<footer class="site-footer">
  <p>© 2023 GenAI. All rights reserved.</p>
</footer>
