<!-- <p>home works!</p> -->
<app-header></app-header> <!-- This line includes the header component -->


<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
    <h1>Révolutionnez l'évaluation embryonnaire avec GenAI </h1>
    <p>Téléchargez une image et laissez la précision de l'intelligence artificielle noter la qualité.</p>
    <button (click)="onAnalyzeClick()" class="btn btn-primary">Analyser l'embryon</button>

  </div>
</section>


<!-- Features Section -->
<section class="features-section">
  <div class="feature">
    <img src="./../../assets/images/analysis.png" alt="Analyse de qualité" class="icon">
    <h3>Analyse de qualité</h3>
    <p>Dévoilez le potentiel de chaque embryon grâce à une analyse de qualité intransigeante, appuyée par la puissance de GenAI.</p>
  </div>
  <div class="feature">
    <img src="./../../assets/images/agreement.png" alt="Accord" class="icon">
    <h3>Correspondance précise</h3>
    <p>Avec GenAI, bénéficiez d'une correspondance précise qui associe chaque image embryonnaire à sa note qualitative, permettant des décisions plus informées pour un succès optimisé.</p>
  </div>
  <div class="feature">
    <img src="./../../assets/images/ideas.png" alt="Idées" class="icon">
    <h3>Conseils personnalisés</h3>
    <p>Plus qu'une simple classification – GenAI fournit des conseils personnalisés, adaptés à chaque cas, pour accompagner les professionnels vers les meilleures issues possibles.s</p>
  </div>
  <!-- Répétez pour d'autres fonctionnalités -->
</section>





<!-- Contact Section -->
<section class="contact-section">
  <h2>Contact Us</h2>
  <!-- Contact details or form -->
</section>

<!-- Footer -->
<footer class="site-footer">
  <!-- Footer content -->
</footer>
